{{#unless this.processed}}
  <ListAccordion data-test-recommendation-accordion class="recommendation-accordion boxed-section" @source={{array @summary}} @key="id" as |a|>
    {{#if a.isOpen}}
      <Das::RecommendationCard @summary={{@summary}} @proceed={{this.proceed}} />
    {{else}}
      <a.head @buttonLabel={{if a.isOpen "Hide" "Show"}}>
        <section class="left">
          {{x-icon "info-circle-fill"}}
          <span>Resource Recommendation</span>
          <span data-test-group class="group">{{@summary.taskGroup.name}}</span>
        </section>

        <section>
          CPU X Memory Y
        </section>
      </a.head>
    {{/if}}
  </ListAccordion>
{{/unless}}